.dsc-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--dsc-color-bg-quaternary);
    width: 100%;
    height: 347px;
}

.dsc-card img{
  width: 220px;
  margin-bottom: 8px;
}

  .dsc-card h3{
    margin-bottom: 14px;
    font-size: 18px;
  }

  .dsc-card p{
    color: var(--dsc-color-font-quaternary);
    font-size: 14px;
    font-style: italic;
    margin-bottom: 38px;
  }
