.dsc-card{
    border-radius: 10px;
    background-color: var(--dsc-color-bg-quaternary);
    width: 306px;
    height: 347px;
}

.dsc-catalog-card-top {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .dsc-catalog-card-bottom {
    padding: 5px ;
    text-align: center;
  }

  .dsc-catalog-card-bottom h2{
    margin-bottom: 20px;
    font-size: 18px;
  }

  .dsc-catalog-card-bottom p{
    color: var(--dsc-color-font-quaternary);
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
  }

.dsc-card img{
    width: 220px;
    height: 165px;
}

.dsc-catalog-card-btn{
  display: flex;
  justify-content: center;
}