.dsc-search-bar{
  display: flex;
}

.dsc-form-control{
    height: 40px;
    width: 100%;
}

.dsc-search-bar input{
    border: 1px solid var(--dsc-color-card-border);
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
}

.dsc-search-bar input::placeholder {
    color: var(--dsc-color-font-tertiary);
}

.dsc-search-bar input:focus {
    outline: none;
  }

.dsc-search-bar-submit{
    height: 40px;
    width: 77px;
    color: var( --dsc-color-font-secondary);
    background-color: var(--dsc-color-bg-tertiary);
    border-radius: 0 5px 5px 0;
    border: none;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

