.dsc-search-bar{
    height: 40px;
    display: flex;
}

.dsc-search-bar input{
    border: 1px solid var(--dsc-color-card-border);
    width: calc(100% - 80px);
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
}

.dsc-search-bar input::placeholder {
    color: var(--dsc-color-font-tertiary);
}

.dsc-search-bar input:focus {
    outline: none;
  }

.dsc-search-bar button{
    height: 40px;
    width: 77px;
    color: var( --dsc-color-font-secondary);
    background-color: var(--dsc-color-bg-tertiary);
    font-weight: 700;
    font-size: 14px;
    border-radius: 0 5px 5px 0;
    border: none;
}

