.dsc-btn-buy{
    height: 40px;
    width: 100%;
    background-color: var(--dsc-color-bg-tertiary);
    color: var(--dsc-color-font-secondary);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}