@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,400..700&display=swap');
:root {
  --dsc-color-bg-primary:#fff;
  --dsc-color-bg-secondary:#F78B00;

  --dsc-color-font-primary:#00285F;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a, a:hover{
  text-decoration: none;
  color: unset;
}

html, body{
  background-color: var(--dsc-color-bg-primary);
}

main{
  padding: 0 20px;
}

/*generic styles*/

.dsc-container{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}



/* -----------------*/

/* header styles */

header{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

nav h1{
  font-size: 24px;
}

/* -----------------*/